<section class="subtitle">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Matrículas Pendientes</h1>
                </div>
            </div>
        </div>
</section>
<section id="sectionsep">
<div class="container box">
    <table class="table table-striped">
        <thead>
        	<tr>
        		<th>Código de activación</th>
        		<th>Nombre de Usuario</th>
        		<th>Nombre de Persona</th>
        		<th>Código de Pre-Matrícula</th>
        		<th></th>
        	</tr>
        </thead>
        <tbody>
        	<tr>
        		<% @pendings.each do |p| %>
        			<td>p.pre_matriculation.code</td>
        			<td>p.pre_matriculation.person.user.username</td>
        			<td>get_name_person(p.pre_matriculation.person.user)</td>
        			<td>p.pre_matriculation.id</td>
        			<td>
        				<%= form_tag(activate_matriculation_path, method: 'post') do %>
                            <%= hidden_field_tag :matriculation, p.id %>
        					<%= hidden_field_tag :activate, '1' %>
        					<%= submit_tag 'Activar', :class => 'btn btn-mini' %>
        				<% end %>
        			</td>
        		<% end %>
        	</tr>
        </tbody>
    </table>
</div>
</section>

