<%- model_class = Matriculation -%>
<section class="subtitle">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
                </div>
            </div>
        </div>
</section>

<div class="container" id="sectionsep">
	<%= render :partial => 'form' %>
</div>

