    <section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
    <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <%= image_tag "slides/1.jpg"%>
                <div class="flex-caption">
                    <h3>Hoy es jueves</h3> 
                    <p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> 
                    <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <%= image_tag "slides/2.jpg"%>
                <div class="flex-caption">
                    <h3>Mañana es Viernes =D</h3> 
                    <p>Sodales neque vitae justo sollicitudin aliquet sit amet diam curabitur sed fermentum.</p> 
                    <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <%= image_tag "slides/3.jpg"%>
                <div class="flex-caption">
                    <h3>Tmr se acerca Lunes</h3> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec mer lacinia.</p> 
                    <a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
            </ul>
        </div>
    <!-- end slider -->
            </div>
        </div>
    </div>  
    </section>


    <section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2><span>Centro de Idiomas - Universidad Nacional San Luis Gonzaga de Ica</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Inglés - Gringows</h4>
                                <div class="icon">
                                <i class="fa fa-desktop fa-3x"></i>
                                </div>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Francés -  Elegantis</h4>
                                <div class="icon">
                                <i class="fa fa-pagelines fa-3x"></i>
                                </div>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Portugués - Felices do mundo</h4>
                                <div class="icon">
                                <i class="fa fa-edit fa-3x"></i>
                                </div>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Italiano - Estos son aburridos</h4>
                                <div class="icon">
                                <i class="fa fa-code fa-3x"></i>
                                </div>
                                <p>
                                 Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                </p>
                                    
                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
    </div>
    </section>
