    <section class="subtitle">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Frequently Asked Questions</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->       

    <section id="sectionsep" class="container faq">
        <ul class="faq">
         <li>
            <span class="number">01</span>
            <div>
                <h4>¿Qué diferencia hay entre un lenguaje técnico a uno comunicativo?</h4>
                <p>La enseñanza comunicativa de la lengua es un enfoque en la enseñanza de idiomas en el que se da máxima importancia a la interacción como medio y como objetivo final en el aprendizaje de una lengua. Por otro lado, la enseñanza técnica tiene objetivos mucho más delimitados y concretos. Aprender un lenguaje comunicativo requiere mucho más tiempo que uno técnico.</p>
            </div>
        </li>

        <li>
            <span class="number">02</span>
            <div>
                <h4>¿Puedo dar examen de clasificación si tengo algún conocimiento del idioma?</h4>
                <p>Sí, y de acuerdo al resultado se le ubicará en algún nivel.</p>
            </div>
        </li>

        <li>
            <span class="number">03</span>
            <div>
                <h4>Si he estudiado un idioma en algún instituto y quiero continuar a partir del último nivel que alcancé. ¿Puedo convalidar mis estudios?</h4>
                <p>Sí, sólo presenta tu certificado de estudios y de acuerdo a ello se le ubicará en el nivel correspondiente.</p>
            </div>
        </li>

        <li>
            <span class="number">04</span>
            <div>
                <h4>¿Existe algún tipo de descuento si soy alumno de la UNICA?</h4>
                <p>Sí, como también si eres comensal, egresado o trabajador de la UNICA.</p>
            </div>
        </li>

        <li>
            <span class="number">05</span>
            <div>
                <h4>¿Mi asistencia a clase cuenta para mi nota final?.</h4>
                <p>No, pero su rendimiento en los exámenes puede verse condicionado por sus faltas. Le recomendamos que procure asistir a la mayoría de clases.</p>
            </div>
        </li>

        <li>
            <span class="number">06</span>
            <div>
                <h4>¿La matrícula es personal o puede realizarla cualquier otra persona?.</h4>
                <p>Puede realizarla todo aquel que pueda dar los datos personales del estudiante.</p>
            </div>
        </li>
    </ul>
    <p>&nbsp;</p>
</section>
