.back-to-top {
	position: fixed;
	bottom: 0px;
	right: 20px;
	height: 18px;
	text-decoration: none;
	color: #000000;
	background-color: rgba(52, 152, 219, 0.80);
	font-size: 15px;
	padding: 10px;
	display: none;
}

.back-to-top:hover {	
	background-color: rgba(135, 135, 135, 0.50);
}	


.fa-angle-up:before {
  content: "\f106";
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

