

@font-face {
   font-family: 'Cantarell';
   src: url(Cantarell-Regular.eot);
   src: local('Cantarell'), url('Cantarell-Regular.ttf') format('truetype');
}

body #register{
    color: #222;
    font-family: Cantarell, Verdana, sans-serif;
    font-size: 12px;
}


#register input[type="submit"]::-moz-focus-inner, #register input[type="button"]::-moz-focus-inner { border : none; } 
#register input[type="submit"]:focus, #register input[type="button"]:focus { outline : none; }

#register .clear { clear: both; }

#register #container {
    background: url('container.png') no-repeat;
    width: 754px;
    height: 400px;
    margin: 20px auto;
    padding: 31px 0;
    overflow: hidden;
    position: relative;
}

#login{
    background: url('container.png') no-repeat;
    width: 754px;
    height: 400px;
    margin: 20px auto;
    padding: 31px 0;
    overflow: hidden;
    position: relative;
}
<<<<<<< HEAD
    #container #first_step, #second_step, #third_step, #fourth_step_no, #fourth_step_yes, #v_exam_pago_step1, #date1_step, #date2_step, #date3_step, #horario1_step, #horario2_step, #level_step, #v_exam_pago_step2, #v_exam_pago_step3, #fifth_step, #sixth_step, #seventh_step, #eighth_step, #ninth_step, #tenth_step, #eleventh_step, #twelfth_step, #thirteenth_step, #escuela_step, #postgrado_step1, #postgrado_step2, #postgrado_yes_step { display: none; }
=======
    #container #first_step, #second_step, #third_step, #fourth_step, #fifth_step, #sixth_step, #seventh_step, #eighth_step, #ninth_step, #tenth_step, #eleventh_step { display: none; }
>>>>>>> f647a07d5ad0775c117abf31589aa14aefe0192b
    #container #first_step { display: block; }

    #register #container .form { margin: 30px 72px 0 72px; }
    
    #register #container h1, #container h2 {
        font-size: Cantarell, Verdana, sans-serif;
        text-align: center;
        font-size: 24px;
        text-shadow: 1px 1px 2px #222;
    }
        #container h1 span { color: #a90329; }
        
    #register #container h2 {
        color: #888;
        font-size: 20px;
        text-align: left;
        text-shadow: none;
    }
    
    #container table {
        margin: 20px 40px;
        font-size: 14px;
        font-weight: bold;
    }
        #container table td {
            padding: 5px 10px;
        }
            #container table td:nth-child(2) {
                color: #a90329;
            }  
    
        
    #register #container input, #register #container select {
        color: #888;
        border: 1px solid #ccc;
        font-family: Cantarell, Verdana, sans-serif;
        font-weight: bold;
        font-size: 15px;
        
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    }

    
        #register #container input.submit {
            background: url('button2.png') no-repeat;
            border: none;
            cursor: pointer;
            width: 85px;
            height: 38px;
            position: relative;
            bottom: 2px;
            left: 550px;
        }
        #register #container input.submit:focus { border: none; }
        
        #register #container input.back {
            background: url('button3.png') no-repeat;
            border: none;
            cursor: pointer;
            width: 85px;
            height: 38px;
            position: relative;
            bottom: 1px;
            left: 55px;
        }


        
        #register #container input.send{ background: url('send2.png') no-repeat; }
            
        #register #container input.error { border: 1px solid red; }
        
        #register #container input.valid { border: 1px solid #1FFF00; }
        
        #register #container input:focus, #container select:focus {
            
            color: #a90329;
        }

    #container select { padding: 5px 0 5px 25px; }
        #container option { padding: 0 15px; }

    #container label {
        color: #666;
        font-size: 12px;
        font-weight: bold;
        line-height: 14px;
    }
    

    
#progress_bar {
    background: url('progress_bar.png') no-repeat;
    width: 339px;
    height: 24px;
    margin: 0 auto;
    position: relative;
}

#progress {
    background: url('progress.png') repeat-x;
    width: 0px;
    height: 23px;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
#progress_text {
    position: relative;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #222;
    width: 339px;
    height: 24px;
    top: -23px;
    left: 0;
}


